name: Manual workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: deploy
      run: echo deploy ok
    
  deploy-teams:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - deploy
    steps:
    - name: teams deploy message
      run: echo deploy är ok
  
  tests:
    runs-on: ubuntu-latest
    needs:
      - deploy
    steps:
    - name: Try to fail
      run: exit 1

  tests-teams:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - deploy
      - tests
    steps:
    
    - name: teams deploy message
      if: ${{ needs.tests.result != 'success' && needs.deploy.result == 'success' }}
      run: |
        echo deploy är ok ${{ needs.deploy.result }}
        echo tests är ok ${{ needs.tests.result }}
