name: Manual workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: deploy
      run: echo deploy
  
    
  deploy-teams:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - deploy
    steps:
    - name: teams deploy message
      run: echo deploy är ok
  
  tests:
    runs-on: ubuntu-latest
    needs:
      - deploy
    steps:
    - name: Try to fail
      run: echo test

  tests-teams:
    runs-on: ubuntu-latest
    if: ${{ needs.deploy.result == 'success' }}
    needs:
      - tests
    steps:
    - name: teams deploy message
      run: echo deploy är ok
