name: Manual workflow
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: declare
      run: |
          SHORT_SHA="$(echo Green)" 
          "IMAGE_NAME='localhost/explore-listener-image:$SHORT_SHA'" >> "$GITHUB_ENV"

    - name: Print
      run: |
        echo "thisis a string $SHORT_SHA" 

  
