name: Manual workflow
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: declare
      run: |
        echo "SHORT_SHA=yellow" >> "$GITHUB_ENV"

    - name: Print
      run: |
        echo "thisis a string ${SHORT_SHA}" 

  
