name: Manual workflow
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: declare
      run: |
          echo "SHORT_SHA=Green" >> "$GITHUB_ENV"

    - name: Print
      run: |
        STRING="localhost/explore-listener-image:$SHORT_SHA"
        echo "thisis a string $STRING" 

  
