name: Testing

on:
  workflow_dispatch:

jobs:
  build:
    name: Eriks test run
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Fetch tags for GitVersion
        run: |
          echo ${{ github.ref_name }}
          echo ${{ github.ref }}
          gh release create draft_release --draft --generate-notes
          gh release view draft_release
          gh release delete draft_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
